<div class="row">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">


        <img src="/assets/euWefIUgTOeD4Vgl6BZd_iStock_000010954699XSmall.jpg" width="100%"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              MyLexikon.com
            </h1>

            <p class="lead">
              The Completely Free Dating Website.
            </p>
            <a class="btn btn-large btn-primary" href=''>Sign up today</a>
          </div>
        </div>


      </div>
      <div class="item">
        <img src="/assets/KySEsZUsQ7q5BWsfNEOt_2012-06-30 09.48.27.jpg" width="100%"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              MyLexikon.com features the Myers-Briggs Type Indicator.
            </h1>

            <p class="lead">
              Would you like to find people who match your personality type? You've
              come to the right place.
            </p>
            <a class="btn btn-large btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/assets/xPtHAyT068LD0bobsjAw_2012-06-29 06.21.45.jpg" width="100%" />

        <div class="container">
          <div class="carousel-caption">
            <h1>
              MyLexikon.com is just starting.
              <br>
            </h1>

            <p class="lead">
              Sign-up below and be on your way to meeting great people. Internet dating
              is fun.
            </p>
            <a class="btn btn-large btn-primary" href="#">Sign-up Here</a>
          </div>
        </div>
      </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-md-4">
      <img class="img-circle" data-src="holder.js/140x140">
      <p>
        <%= render :template => 'devise/sessions/new'%>
      </p>
    </div>
    <div class="col-md-4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>
        Personality Test
        <br>
      </h2>

      <p>
        MBTI or Myers-Briggs Type Indicator provides an easy way to find out about
        your personality and also that of other people. You have a chance to be
        matched with only compatible people, but the final choice is yours.
      </p>

      <p>
        <a class="btn btn-large btn-primary" href=''>View details »</a>
      </p>
    </div>
    <!-- /.span4 -->
    <div class="col-md-4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>
        Free Dating
      </h2>

      <p>
        Internet dating can be fun, especially when it is free. There is no fee
        associated with the use of this website. You are completely free to register,
        explore or leave it as you wish. We hope you have a great time here.
        <br>
      </p>

      <p>
        <a class="btn btn-large btn-primary" href=''>Start Search »</a>
      </p>
    </div>
  </div>
  <!--/row-->

</div>





</div>

